body{
    background-color: blanchedalmond;
}
table,th,td{
    border: solid 2px black;
}
table{
    margin-top: 10px;
}

h3{
    background-color: black;
    color: white;
    text-align: center;
}
img, h1{
    display: inline-block;
}
    